<#import 'partials/main.ftlh' as main>
<@main.renderWith>
  <div>
      <div class="users-online">
          <h4>Users online:</h4>
          <#if users??>
              <#list users as user>
                  <p>${user.id}</p>
                  <p>${user.name}</p>
                  <a href="/chat/${user.id}">text</a>
              </#list>
          <#else>
              <h4>No users online no except you</h4>
          </#if>
      </div>


  </div>

</@main.renderWith>